{% extends 'layout/admin.html.twig' %}

{% set title = 'admin.seasons.title' | trans %}

{% block head_title %}
{{ title }}
{% endblock %}

{% block page_title %}
{{ title }}
{% endblock %}

{% block body %}
    {% if seasons | length > 0 %}
    
    <table class="with-header">
        <thead>
            <tr class="head">
                <td>Année</td>
                <td>Modifier</td>
                <td>Voitures</td>
                <td>Calendrier</td>
            </tr>
        </thead>
        <tbody>
            {% for season in seasons %}
                {% set edit_season_path = path('app_admin_season_edit_index', { 
                    seasonYear: season.year 
                }) %}
                {% set edit_season_label = 'admin.seasons.list.edit.label' | trans %}
                {% set edit_season_alt_label = 'admin.seasons.list.edit.alt_label' | trans({ 
                    year: season.year
                }) %}

                <tr class="line">
                    <td>{{ season.year }}</td>
                    <td>{{ anchor(edit_season_label, edit_season_alt_label, edit_season_path) }}</td>
                    <td></td>
                    <td></td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
    {{ pagination(pagination) }}
    {% else %}

        {% set empty_anchor_label = 'admin.seasons.empty_anchor_label' | trans %}
        {% set empty_anchor_alt = 'admin.seasons.empty_anchor_alt' | trans %}
        {% set empty_anchor_url = path('app_admin_season_add_index') %}
        {% set add_anchor = anchor(empty_anchor_label, empty_anchor_alt, empty_anchor_url) %}

    <p>{{ 'admin.seasons.empty' | trans({ anchor: add_anchor }) | raw }}</p>
    {% endif %}
{% endblock %}