{% block header %}
<header id="main">
    <a href="{{ path('app_site_default_index') }}" title="{{ 'home.anchor.alt' | trans }}" class="home">
        <img src="{{ site_logo_path }}" alt="{{ 'home.anchor.image' | trans }}" width="250" height="100" />
    </a>
    {% block site_header_menus %}
        {% set menus = header_submenus.get() %} 
        {% if menus | length > 0 %}
            <button class="menus-button" type="button">{{ 'header.label' | trans([], 'menus') }}</button>
            <nav>
                <div class="menus">
                    {% for menu in menus %}
                    {% include 'ui/menus/header_menu.html.twig' with { menu: menu } only %}
                    {% endfor %}
                </div>
            </nav>
        {% endif %}
    {% endblock %}
</header>
{% endblock %}